<p>Hola <%= @resource.email %>!</p>

<p>Alguien a solicitado un link para cambiar tu contraseña. Puedes hacerlo a traves de este link.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no fuiste tu, por favor ignora este mensaje.</p>
<p>Tu contraseña no se cambiara hasta que accedas al link de arriba y crees una nueva.</p>
