<p>Hola <%= @resource.email %>!</p>

<p>Tu cuenta a sido bloqueada debido a un excesivo numero de intentos de ingreso fallidos.</p>

<p>Haz click en el siguiente link para desbloquear tu cuenta:</p>

<p><%= link_to 'Desbloquea mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
